* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.activateMyAccountButton {
  width: 300px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #51a2ff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.activateMyAccountButton:hover {
  background-color: #2b7fff;
}

.displayChosenCompanyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 26px;
}

@media (max-width: 620px) {
  .displayChosenCompanyContainer {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
