@media (max-width: 950px) {
  .hero-page-cta-text-box {
    top: 32%;
  }

  .hero-page-cta-text-heading {
    font-size: 36px;
  }

  .hero-page-cta-text {
    font-size: 14px;
  }

  .banner-details {
    top: 10% !important;
  }
}

@media (max-width: 850px) {
  .hero-page-cta-text-heading {
    font-size: 34px;
  }

  .hero-page-cta-text {
    font-size: 12px;
  }

  .homepageClientTestomonialsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .listing-client-testimonials {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 650px) {
  .verify-account-form-container {
    grid-template-columns: 1fr !important;
    row-gap: 0px !important;
  }

  .displayChosenCompanyContainer {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .verify-bussiness-button-container {
    flex-direction: column;
    align-items: stretch;
  }

  .listing-client-testimonials {
    grid-template-columns: 1fr !important;
    gap: 10px;
  }

  .listing-testimonial-box {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
}

@media (max-width: 620px) {
  .homepageClientTestomonialsContainer {
    grid-template-columns: 1fr;
  }

  .client-testimonial-box {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}

@media (max-width: 550px) {
  .listing-container {
    flex-direction: column;
    align-items: stretch;
  }
}
