.payment-status-heading {
  text-align: center;
  margin-bottom: 20px;
}

.payment-status-detail {
  color: #555;
  text-align: center;
  margin-bottom: 30px;
}

.listing-page-navigate {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #51a2ff;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.listing-page-navigate:hover {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #2b7fff;
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}
